---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/farfetchd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3372e-ybSJ4yccoFNkVHJv8K7uIgMot1U"
      Function-Execution-Id:
      - d3s64jike060
      X-Cloud-Trace-Context:
      - b85b96099d89148ae62ede6f424f5ba7
      X-Country-Code:
      - BR
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"keen-eye","url":"https://pokeapi.co/api/v2/ability/51/"},"is_hidden":false,"slot":1},{"ability":{"name":"inner-focus","url":"https://pokeapi.co/api/v2/ability/39/"},"is_hidden":false,"slot":2},{"ability":{"name":"defiant","url":"https://pokeapi.co/api/v2/ability/128/"},"is_hidden":true,"slot":3}],"base_experience":132,"forms":[{"name":"farfetchd","url":"https://pokeapi.co/api/v2/pokemon-form/83/"}],"game_indices":[{"game_index":64,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":64,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":64,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":83,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":83,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":83,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/v[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/pikachu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e932-K0IW1E8/Ue8ra2EK+5E5lkyPDH0"
      Function-Execution-Id:
      - ag3imjmqggf9
      X-Cloud-Trace-Context:
      - 69b6b1fbfe8fe726400b478c5f2ffdaa
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"static","url":"https://pokeapi.co/api/v2/ability/9/"},"is_hidden":false,"slot":1},{"ability":{"name":"lightning-rod","url":"https://pokeapi.co/api/v2/ability/31/"},"is_hidden":true,"slot":3}],"base_experience":112,"forms":[{"name":"pikachu","url":"https://pokeapi.co/api/v2/pokemon-form/25/"}],"game_indices":[{"game_index":84,"version":{"name":"red","url":"https://pok[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/charmander
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3509b-Rittb2g7Hjl5axMzWkjVHpakBoY"
      Function-Execution-Id:
      - qjkx9dmoh7dc
      X-Cloud-Trace-Context:
      - 5f5e92df374fe1b164d68a45b6cfd2b3;o=1
      X-Country-Code:
      - BR
      X-[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/wooloo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1320-6DkDcN/+sZU/VHszepxOZ5IaOLM"
      Function-Execution-Id:
      - jf6e9285rv42
      X-Cloud-Trace-Context:
      - 991c97f948b991b51752b368f5d49573
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"fluffy","url":"https://pokeapi.co/api/v2/ability/218/"},"is_hidden":false,"slot":1},{"ability":{"name":"run-away","url":"https://pokeapi.co/api/v2/ability/50/"},"is_hidden":false,"slot":2},{"ability":{"name":"bulletproof","url":"https://pokeapi.co/api/v2/ability/171/"},"is_hidden":true,"slot":3}],"base_experience":122,"forms":[{"name":"wooloo","url":"https://pokeapi.co/api/v2/pokemon-form/831/"}],"game_indices":[],"height":6,"held_items":[],"id":831,"is_default":true,"location_area_encounters":"https://pokeapi.co/api/v2/pokemon/831/encounters","moves":[],"name":"wooloo","order":-1,"species":{"name":"wooloo","url":"https://pokeapi.co/api/v2/pokemon-species/831/"},"sprites":{"back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/831.png","back_female":null,"back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/831.png","back_shiny_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/831.png","front_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/831.png","front_shiny_female":null,"other":{"dream_world":{"front_default":null,"front_female":null},"official-artwork":{"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/831.png"}},"versions":{"generation-i":{"red-blue":{"back_default":null,"back_gray":null,"front_default":null,"front_gray":null},"yellow":{"back_default":null,"back_gray":null,"front_default":null,"front_gray":null}},"generation-ii":{"crystal":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null},"gold":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null},"silver":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null}},"generation-iii":{"emerald":{"front_default":null,"front_shiny":null},"firered-leafgreen":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null},"ruby-sapphire":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null}},"generation-iv":{"diamond-pearl":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"heartgold-soulsilver":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"platinum":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null}},"generation-v":{"black-white":{"animated":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/831.png","back_female":null,"back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/shiny/831.png","back_shiny_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/831.png","front_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/shiny/831.png","front_shiny_female":null}},"generation-vi":{"omegaruby-alphasapphire":{"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"x-y":{"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null}},"generation-vii":{"icons":{"front_default":null,"front_female":null},"ultra-sun-ultra-moon":{"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null}},"generation-viii":{"icons":{"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-viii/icons/831.png","front_female":null}}}},"stats":[{"base_stat":42,"effort":0,"stat":{"name":"hp","url":"https://pokeapi.co/api/v2/stat/1/"}},{"base_stat":40,"effort":0,"stat":{"name":"attack","url":"https://pokeapi.co/api/v2/stat/2/"}},{"base_stat":55,"effort":1,"stat":{"name":"defense","url":"https://pokeapi.co/api/v2/stat/3/"}},{"base_stat":40,"effort":0,"stat":{"name":"special-attack","url":"https://pokeapi.co/api/v2/stat/4/"}},{"base_stat":45,"effort":0,"stat":{"name":"special-defense","url":"https://pokeapi.co/api/v2/stat/5/"}},{"base_stat":48,"effort":0,"stat":{"name":"speed","url":"https://pokeapi.co/api/v2/stat/6/"}}],"types":[{"slot":1,"type":{"name":"normal","url":"https://pokeapi.co/api/v2/type/1/"}}],"weight":60}'
  recorded_at: Mon, 11 Jan 2021 05:54:33 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/nidoking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3ae2f-S1We8lyNlnwjJbbLsvaLCSv9nb8"
      Function-Execution-Id:
      - zc7g6qkz4xow
      X-Cloud-Trace-Context:
      - a9607e409030feac73065e29ab8456cf
      X-Country-Code:
      - BR
      X-Orig-A[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/venomoth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2dee6-ISpjRlihhWaU40g63ohW6kdNuBM"
      Function-Execution-Id:
      - as9opf93duu4
      X-Cloud-Trace-Context:
      - 8e328ff09c1f84076940c45fa678b43d
      X-Country-Code:
      - BR
      X-Orig-A[...]
