---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/charmander
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3509b-Rittb2g7Hjl5axMzWkjVHpakBoY"
      Function-Execution-Id:
      - qjkx9dmoh7dc
      X-Cloud-Trace-Context:
      - 5f5e92df374fe1b164d68a45b6cfd2b3;o=1
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"blaze","url":"https://pokeapi.co/api/v2/ability/66/"},"is_hidden":false,"slot":1},{"ability":{"name":"solar-power","url":"https://pokeapi.co/api/v2/ability/94/"},"is_hidden":true,"slot":3}],"base_experience":62,"forms":[{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon-form/4/"}],"game_indices":[{"game_index":176,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":176,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":176,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":4,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":4,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":4,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/ve[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/unknown-pokemon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"9-0gXL1ngzMqISxa6S1zx3F4wtLyg"
      Function-Execution-Id:
      - vbaa2ymeklry
      X-Cloud-Trace-Context:
      - d4a00df5612be3bc646e42aee2d76e13
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Mon, 11 Jan 2021 05:57:45 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/unknown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"9-0gXL1ngzMqISxa6S1zx3F4wtLyg"
      Function-Execution-Id:
      - duiyak0y5173
      X-Cloud-Trace-Context:
      - 2e64d602ad003c94899c742063820c40
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Mon, 11 Jan 2021 05:57:45 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/pikachu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e932-K0IW1E8/Ue8ra2EK+5E5lkyPDH0"
      Function-Execution-Id:
      - ag3imjmqggf9
      X-Cloud-Trace-Context:
      - 69b6b1fbfe8fe726400b478c5f2ffdaa
      X-Country-Code:
      - BR
      X-Orig-Ac[...]
