---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/farfetchd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33853-uhLJ5SHJKJzqAOzIU1Od4LcIwnk"
      Function-Execution-Id:
      - rx3u82t7lj30
      X-Cloud-Trace-Context:
      - 36faf9172224287a9a9cf5abec254b67
      X-Country-Code:
      - BR
      X-Fh-No-Setcookie-Unroll:
      - 'true'
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"keen-eye","url":"https://pokeapi.co/api/v2/ability/51/"},"is_hidden":false,"slot":1},{"ability":{"name":"inner-focus","url":"https://pokeapi.co/api/v2/ability/39/"},"is_hidden":false,"slot":2},{"ability":{"name":"defiant","url":"https://pokeapi.co/api/v2/ability/128/"},"is_hidden":true,"slot":3}],"base_experience":132,"forms":[{"name":"farfetchd","url":"https://pokeapi.co/api/v2/pokemon-form/83/"}],"game_indices":[{"game_index":64,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":64,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":64,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":83,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":83,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":83,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/v[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/pikachu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2eb1b-0pDypNiZ+GjTA7mRgp5hfsnG+88"
      Function-Execution-Id:
      - al8nx7p0dmtz
      X-Cloud-Trace-Context:
      - 606a7881ffc5dc908df0f6b2a0d0e9a6
      X-Country-Code:
      - BR
      X-Fh-No-S[...]
[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/charmander
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"351be-58Z63TJLEhtELrm+VvoY8UqV6fI"
      Function-Execution-Id:
      - io6e0bjgghia
      X-Cloud-Trace-Context:
      - 0d503abb3f88628f738f508393a139bf
      X-Country-Code:
      - BR
      X-Fh-N[...]
