---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/pikachu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e932-K0IW1E8/Ue8ra2EK+5E5lkyPDH0"
      Function-Execution-Id:
      - ag3imjmqggf9
      X-Cloud-Trace-Context:
      - 69b6b1fbfe8fe726400b478c5f2ffdaa
      X-Country-Code:
      - BR
      X-Orig-Accept-Language:
      - pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"static","url":"https://pokeapi.co/api/v2/ability/9/"},"is_hidden":false,"slot":1},{"ability":{"name":"lightning-rod","url":"https://pokeapi.co/api/v2/ability/31/"},"is_hidden":true,"slot":3}],"base_experience":112,"forms":[{"name":"pikachu","url":"https://pokeapi.co/api/v2/pokemon-form/25/"}],"game_indices":[{"game_index":84,"version":{"name":"red","url":"https://pokeapi.co/api/v2/version/1/"}},{"game_index":84,"version":{"name":"blue","url":"https://pokeapi.co/api/v2/version/2/"}},{"game_index":84,"version":{"name":"yellow","url":"https://pokeapi.co/api/v2/version/3/"}},{"game_index":25,"version":{"name":"gold","url":"https://pokeapi.co/api/v2/version/4/"}},{"game_index":25,"version":{"name":"silver","url":"https://pokeapi.co/api/v2/version/5/"}},{"game_index":25,"version":{"name":"crystal","url":"https://pokeapi.co/api/v2/v[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/charmander
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3509b-Rittb2g7Hjl5axMzWkjVHpakBoY"
      Function-Execution-Id:
      - qjkx9dmoh7dc
      X-Cloud-Trace-Context:
      - 5f5e92df374fe1b164d68a45b6cfd2b3;o=1
      X-Country-Code:
      - BR
      X-[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/sandaconda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1330-ORhXaDSRpVyuhwPZbEJzLG5Pwmc"
      Function-Execution-Id:
      - sh2ox8g7q655
      X-Cloud-Trace-Context:
      - 85eba56e5e23e5386b6b8d2610604d8f
      X-Country-Code:
      - BR
    body:
      encoding: ASCII-8BIT
      string: '{"abilities":[{"ability":{"name":"sand-spit","url":"https://pokeapi.co/api/v2/ability/245/"},"is_hidden":false,"slot":1},{"ability":{"name":"shed-skin","url":"https://pokeapi.co/api/v2/ability/61/"},"is_hidden":false,"slot":2},{"ability":{"name":"sand-veil","url":"https://pokeapi.co/api/v2/ability/8/"},"is_hidden":true,"slot":3}],"base_experience":179,"forms":[{"name":"sandaconda","url":"https://pokeapi.co/api/v2/pokemon-form/844/"}],"game_indices":[],"height":38,"held_items":[],"id":844,"is_default":true,"location_area_encounters":"https://pokeapi.co/api/v2/pokemon/844/encounters","moves":[],"name":"sandaconda","order":-1,"species":{"name":"sandaconda","url":"https://pokeapi.co/api/v2/pokemon-species/844/"},"sprites":{"back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/844.png","back_female":null,"back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/844.png","back_shiny_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/844.png","front_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/844.png","front_shiny_female":null,"other":{"dream_world":{"front_default":null,"front_female":null},"official-artwork":{"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/844.png"}},"versions":{"generation-i":{"red-blue":{"back_default":null,"back_gray":null,"front_default":null,"front_gray":null},"yellow":{"back_default":null,"back_gray":null,"front_default":null,"front_gray":null}},"generation-ii":{"crystal":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null},"gold":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null},"silver":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null}},"generation-iii":{"emerald":{"front_default":null,"front_shiny":null},"firered-leafgreen":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null},"ruby-sapphire":{"back_default":null,"back_shiny":null,"front_default":null,"front_shiny":null}},"generation-iv":{"diamond-pearl":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"heartgold-soulsilver":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"platinum":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null}},"generation-v":{"black-white":{"animated":{"back_default":null,"back_female":null,"back_shiny":null,"back_shiny_female":null,"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"back_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/844.png","back_female":null,"back_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/back/shiny/844.png","back_shiny_female":null,"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/844.png","front_female":null,"front_shiny":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/shiny/844.png","front_shiny_female":null}},"generation-vi":{"omegaruby-alphasapphire":{"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null},"x-y":{"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null}},"generation-vii":{"icons":{"front_default":null,"front_female":null},"ultra-sun-ultra-moon":{"front_default":null,"front_female":null,"front_shiny":null,"front_shiny_female":null}},"generation-viii":{"icons":{"front_default":"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-viii/icons/844.png","front_female":null}}}},"stats":[{"base_stat":72,"effort":0,"stat":{"name":"hp","url":"https://pokeapi.co/api/v2/stat/1/"}},{"base_stat":107,"effort":0,"stat":{"name":"attack","url":"https://pokeapi.co/api/v2/stat/2/"}},{"base_stat":125,"effort":2,"stat":{"name":"defense","url":"https://pokeapi.co/api/v2/stat/3/"}},{"base_stat":65,"effort":0,"stat":{"name":"special-attack","url":"https://pokeapi.co/api/v2/stat/4/"}},{"base_stat":70,"effort":0,"stat":{"name":"special-defense","url":"https://pokeapi.co/api/v2/stat/5/"}},{"base_stat":71,"effort":0,"stat":{"name":"speed","url":"https://pokeapi.co/api/v2/stat/6/"}}],"types":[{"slot":1,"type":{"name":"ground","url":"https://pokeapi.co/api/v2/type/5/"}}],"weight":655}'
  recorded_at: Mon, 11 Jan 2021 05:55:50 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/zubat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fb87-XiK0PFoyYVOdPV640GCYMfTXkOM"
      Function-Execution-Id:
      - gf5xy6r6pd5m
      X-Cloud-Trace-Context:
      - 541870a9348df4fe50d59f42b0e40552;o=1
      X-Country-Code:
      - BR
      X-Orig-[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/alakazam
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"384aa-blO1ktF/o54RZ0J37Dago6Y6wB4"
      Function-Execution-Id:
      - ku5bxen6z39q
      X-Cloud-Trace-Context:
      - 362210427857370ff745f42a27e30bb8;o=1
      X-Country-Code:
      - BR
      X-Or[...]
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/drowzee
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"392f7-/YqQBiTPTi9qvlPWc953T4+whfs"
      Function-Execution-Id:
      - azk5k7pubyap
      X-Cloud-Trace-Context:
      - 0500dc3dfcf293611cae7b513b4f24ed
      X-Country-Code:
      - BR
    body:
     [...]
